.App{
  position: fixed;
  width: 100%;
  height: 100vh;
}
.body{
  margin: 0;
  padding: 0;
}
.Container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ActiveMenu{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  border: 0.5px solid #ddd;
}
.navContainer{
  width: 10%;
}
.contentPart{
  width: 90%;
}
.navName{
  width: 100%;
  font-size: 12px;
  height: 25px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 0.5px solid #ddd;
}
.navName:hover{
  background-color: rgb(200, 217, 234);
  transition:0.5s;
  cursor: pointer;
}
.navContainer{
  border-right: 0.5px solid #ddd;
  height: 100vh;
}
.flex-col{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  font-size: 12px;
}
.activelist{
  width: 100px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  background-color:  rgb(193, 212, 231);
  border-right: 1px solid #ddd;
}
.cancel{
  color: red;
  font-size: 15px;
  cursor: pointer;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancelMark{
  color: red;
  font-size: 15px;
  cursor: pointer;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoDiv{width: 10%;}
.activeName{
  width: 80%;
}
.activeName:hover{
  cursor: pointer;
}
.InputDiv{
  position: relative;
  width: 250px;
}
.DropDownDiv{
  width: 250px;
  height: 36px;
}
.dropdownList{
  position: fixed;
  z-index: 1;
  width: 520px;
  height: 250px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
}

.dropdownOrder4,.dropdownOrder3{
  right:40px;
  }
.dropdownOrder2{
  right:315px;
  }
  .dropdownOrder1{
    right:585px;
    }
.dropdownFooter{
  position: absolute;
  bottom: 0;
  height: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-family: sans-serif;
  align-items: center;
  background-color: rgb(40, 180, 236);
}
.labelName{
  position: relative;
  top: -50px;
  left: 10px;
  width: 75px;
  height: 12px;
  font-size: 9px;
  padding-left: 10px;
  margin: 0;
  padding-right: 10px;
  background-color: white;
}

.textContainer{
  position: relative;
  width: 100%;
  height: 35px;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.inputfield{
  width: 90%;
  height: 97%;
  border: none;
  outline: none;
  font-size: 12px;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 0;
}

.cancelMark{
  color: red;
  font-size: 15px;
  cursor: pointer;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Main-container1{
  width: 100%;
  height: 98vh;
}

.formName{
  font-weight: 600;
  font-size: 12px;
  padding-left: 20px;
  font-family: sans-serif;
}

.formTop{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pr-10{
  padding-right: 10px;
}
.saveBtn{
  width: 80px;
  height: 25px;
  outline: none;
  border: none;
  background-color: rgb(36, 125, 36);
  color: white;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
}
.grid{
  display: grid;
  width: 90%;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.textArea{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.tableArea{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

th{
  font-size: 12px;
  font-weight: 500;
  font-family: sans-serif;
  justify-content: center;
}
table{
  width: 100%;
}
table,td,tr,th{
  border: 0.5px solid #ddd;
  border-collapse: collapse;
}
th{
  height: 32px;
}

td{
  height: 24px;
  font-size: 12px;
  text-align: center;
}
.dropdownheader{
  font-weight: 600;
  font-family: sans-serif;
  font-size: 12px;
  background-color: rgb(40, 180, 236);
}
.dropdownValues{
  text-align: left;
  padding-left: 12px;
  font-size: 12px;
  font-family: sans-serif;
}
.dropdownRow:hover{
  background-color: rgb(107, 191, 244);
  transition: 0.5s;
}

.dropdownheader{
  height: 20px;
}
.dropdownValues{
  height: 18px;
}
/* tbody{
  height: 300px;
} */
.w-100{
  width: 93%;
  height: 320px;
  border: 0.5px solid #ddd;
  position: relative;
}
.tableHeader{
  background-color:rgb(40, 180, 236);
}
.PaginationCount{
  width: 50px;
  display: flex;
  height: 100%;
  font-size: 20px;
  justify-content: space-around;
  color: white;
}
.rightTableFooter{
  display: flex;
  justify-content: end;
  width: 100%;
  height: 100%;
  align-items: center;
}
.countsPerPage{
  padding-right: 10px;
  font-size: 12px;
  font-weight: 600;
}
.dropdownSelect{
  outline: none;
  border: none;
}